
#results {
    display: none;
}
body {
    background-image: url(matrix.jpg);
    Background-size: cover;
    background-position: center;
    display: flex;
    font-family: "Lucida Handwriting", "Brush Script MT", Cursive;
    /*height: 100vh;*/
}
.container {
    border-style: double;
    border-width: 3px;
    border-radius: 3px;
    background-color: white;
    padding: 5px;
    text-align: center;
    display: inline-block;
}
h1 {
    font-size: 72px;
    font-family: "Lucida Handwriting", "Brush Script MT", Cursive;
    /*background: -webkit-linear-gradient(rgb(39, 105, 247), rgb(236, 49, 49));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

h5 {
    /*background: -webkit-linear-gradient(rgb(39, 105, 247), rgb(236, 49, 49));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}        
